.SignAndLog {
  font-family: sans-serif;
  text-align: center;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' id='svg' viewBox='0 0 1440 490' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cstyle%3E .path-0%7B animation:pathAnim-0 4s; animation-timing-function: linear; animation-iteration-count: infinite; %7D @keyframes pathAnim-0%7B 0%25%7B d: path('M 0,500 C 0,500 0,125 0,125 C 101.44358974358971,122.6076923076923 202.88717948717942,120.21538461538462 281,111 C 359.1128205128206,101.78461538461538 413.89487179487185,85.74615384615383 488,89 C 562.1051282051282,92.25384615384617 655.5333333333333,114.80000000000001 731,122 C 806.4666666666667,129.2 863.9717948717949,121.05384615384615 933,108 C 1002.0282051282051,94.94615384615385 1082.5794871794872,76.98461538461538 1169,79 C 1255.4205128205128,81.01538461538462 1347.7102564102565,103.00769230769231 1440,125 C 1440,125 1440,500 1440,500 Z'); %7D 25%25%7B d: path('M 0,500 C 0,500 0,125 0,125 C 71.79743589743589,107.11025641025641 143.59487179487178,89.22051282051282 216,94 C 288.4051282051282,98.77948717948718 361.4179487179488,126.22820512820513 439,124 C 516.5820512820512,121.77179487179487 598.7333333333332,89.86666666666667 699,92 C 799.2666666666668,94.13333333333333 917.6487179487181,130.30512820512817 990,141 C 1062.351282051282,151.69487179487183 1088.6717948717949,136.91282051282053 1156,130 C 1223.3282051282051,123.08717948717948 1331.6641025641024,124.04358974358973 1440,125 C 1440,125 1440,500 1440,500 Z'); %7D 50%25%7B d: path('M 0,500 C 0,500 0,125 0,125 C 68.73076923076923,102.0205128205128 137.46153846153845,79.04102564102563 228,81 C 318.53846153846155,82.95897435897437 430.8846153846155,109.85641025641027 504,111 C 577.1153846153845,112.14358974358973 611,87.53333333333332 686,94 C 761,100.46666666666668 877.1153846153848,138.01025641025643 975,149 C 1072.8846153846152,159.98974358974357 1152.5384615384614,144.42564102564103 1227,136 C 1301.4615384615386,127.57435897435899 1370.7307692307693,126.28717948717949 1440,125 C 1440,125 1440,500 1440,500 Z'); %7D 75%25%7B d: path('M 0,500 C 0,500 0,125 0,125 C 71.93846153846152,138.37435897435898 143.87692307692305,151.74871794871797 228,160 C 312.12307692307695,168.25128205128203 408.4307692307692,171.37948717948717 487,160 C 565.5692307692308,148.62051282051283 626.4,122.73333333333332 695,124 C 763.6,125.26666666666668 839.9692307692308,153.68717948717952 925,150 C 1010.0307692307692,146.31282051282048 1103.723076923077,110.51794871794871 1191,101 C 1278.276923076923,91.48205128205129 1359.1384615384613,108.24102564102564 1440,125 C 1440,125 1440,500 1440,500 Z'); %7D 100%25%7B d: path('M 0,500 C 0,500 0,125 0,125 C 101.44358974358971,122.6076923076923 202.88717948717942,120.21538461538462 281,111 C 359.1128205128206,101.78461538461538 413.89487179487185,85.74615384615383 488,89 C 562.1051282051282,92.25384615384617 655.5333333333333,114.80000000000001 731,122 C 806.4666666666667,129.2 863.9717948717949,121.05384615384615 933,108 C 1002.0282051282051,94.94615384615385 1082.5794871794872,76.98461538461538 1169,79 C 1255.4205128205128,81.01538461538462 1347.7102564102565,103.00769230769231 1440,125 C 1440,125 1440,500 1440,500 Z'); %7D %7D%3C/style%3E%3Cdefs%3E%3ClinearGradient id='gradient' x1='0%25' y1='50%25' x2='100%25' y2='50%25'%3E%3Cstop offset='5%25' stop-color='%23eb144c'%3E%3C/stop%3E%3Cstop offset='95%25' stop-color='%238ED1FC'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M 0,500 C 0,500 0,125 0,125 C 101.44358974358971,122.6076923076923 202.88717948717942,120.21538461538462 281,111 C 359.1128205128206,101.78461538461538 413.89487179487185,85.74615384615383 488,89 C 562.1051282051282,92.25384615384617 655.5333333333333,114.80000000000001 731,122 C 806.4666666666667,129.2 863.9717948717949,121.05384615384615 933,108 C 1002.0282051282051,94.94615384615385 1082.5794871794872,76.98461538461538 1169,79 C 1255.4205128205128,81.01538461538462 1347.7102564102565,103.00769230769231 1440,125 C 1440,125 1440,500 1440,500 Z' stroke='none' stroke-width='0' fill='url(%23gradient)' fill-opacity='0.4' class='transition-all duration-300 ease-in-out delay-150 path-0'%3E%3C/path%3E%3Cstyle%3E .path-1%7B animation:pathAnim-1 4s; animation-timing-function: linear; animation-iteration-count: infinite; %7D @keyframes pathAnim-1%7B 0%25%7B d: path('M 0,500 C 0,500 0,250 0,250 C 89.03846153846152,261.20000000000005 178.07692307692304,272.40000000000003 262,263 C 345.92307692307696,253.59999999999997 424.7307692307693,223.59999999999997 502,229 C 579.2692307692307,234.40000000000003 655,275.20000000000005 734,281 C 813,286.79999999999995 895.2692307692307,257.6 983,247 C 1070.7307692307693,236.39999999999998 1163.923076923077,244.4 1241,248 C 1318.076923076923,251.6 1379.0384615384614,250.8 1440,250 C 1440,250 1440,500 1440,500 Z'); %7D 25%25%7B d: path('M 0,500 C 0,500 0,250 0,250 C 70.59487179487178,242.37179487179486 141.18974358974356,234.74358974358972 231,246 C 320.81025641025644,257.2564102564103 429.83589743589744,287.3974358974359 521,283 C 612.1641025641026,278.6025641025641 685.4666666666666,239.66666666666666 745,232 C 804.5333333333334,224.33333333333334 850.2974358974359,247.93589743589746 932,250 C 1013.7025641025641,252.06410256410254 1131.3435897435897,232.58974358974356 1222,229 C 1312.6564102564103,225.41025641025644 1376.3282051282051,237.70512820512823 1440,250 C 1440,250 1440,500 1440,500 Z'); %7D 50%25%7B d: path('M 0,500 C 0,500 0,250 0,250 C 59.407692307692315,241.43333333333334 118.81538461538463,232.86666666666667 203,245 C 287.18461538461537,257.1333333333333 396.1461538461539,289.96666666666664 481,291 C 565.8538461538461,292.03333333333336 626.6,261.26666666666665 700,239 C 773.4,216.73333333333332 859.4538461538461,202.96666666666667 944,216 C 1028.5461538461539,229.03333333333333 1111.5846153846153,268.8666666666667 1194,279 C 1276.4153846153847,289.1333333333333 1358.2076923076925,269.56666666666666 1440,250 C 1440,250 1440,500 1440,500 Z'); %7D 75%25%7B d: path('M 0,500 C 0,500 0,250 0,250 C 62.62051282051283,247.0846153846154 125.24102564102566,244.16923076923078 204,241 C 282.75897435897434,237.83076923076922 377.65641025641025,234.4076923076923 459,230 C 540.3435897435897,225.5923076923077 608.1333333333333,220.2 686,232 C 763.8666666666667,243.8 851.8102564102566,272.79230769230776 933,284 C 1014.1897435897434,295.20769230769224 1088.625641025641,288.63076923076926 1172,280 C 1255.374358974359,271.36923076923074 1347.6871794871795,260.68461538461537 1440,250 C 1440,250 1440,500 1440,500 Z'); %7D 100%25%7B d: path('M 0,500 C 0,500 0,250 0,250 C 89.03846153846152,261.20000000000005 178.07692307692304,272.40000000000003 262,263 C 345.92307692307696,253.59999999999997 424.7307692307693,223.59999999999997 502,229 C 579.2692307692307,234.40000000000003 655,275.20000000000005 734,281 C 813,286.79999999999995 895.2692307692307,257.6 983,247 C 1070.7307692307693,236.39999999999998 1163.923076923077,244.4 1241,248 C 1318.076923076923,251.6 1379.0384615384614,250.8 1440,250 C 1440,250 1440,500 1440,500 Z'); %7D %7D%3C/style%3E%3Cdefs%3E%3ClinearGradient id='gradient' x1='0%25' y1='50%25' x2='100%25' y2='50%25'%3E%3Cstop offset='5%25' stop-color='%23eb144c'%3E%3C/stop%3E%3Cstop offset='95%25' stop-color='%238ED1FC'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M 0,500 C 0,500 0,250 0,250 C 89.03846153846152,261.20000000000005 178.07692307692304,272.40000000000003 262,263 C 345.92307692307696,253.59999999999997 424.7307692307693,223.59999999999997 502,229 C 579.2692307692307,234.40000000000003 655,275.20000000000005 734,281 C 813,286.79999999999995 895.2692307692307,257.6 983,247 C 1070.7307692307693,236.39999999999998 1163.923076923077,244.4 1241,248 C 1318.076923076923,251.6 1379.0384615384614,250.8 1440,250 C 1440,250 1440,500 1440,500 Z' stroke='none' stroke-width='0' fill='url(%23gradient)' fill-opacity='0.53' class='transition-all duration-300 ease-in-out delay-150 path-1'%3E%3C/path%3E%3Cstyle%3E .path-2%7B animation:pathAnim-2 4s; animation-timing-function: linear; animation-iteration-count: infinite; %7D @keyframes pathAnim-2%7B 0%25%7B d: path('M 0,500 C 0,500 0,375 0,375 C 74.27179487179487,345.7102564102564 148.54358974358973,316.4205128205128 230,331 C 311.45641025641027,345.5794871794872 400.09743589743596,404.0282051282051 492,416 C 583.902564102564,427.9717948717949 679.0666666666666,393.46666666666664 764,370 C 848.9333333333334,346.53333333333336 923.6358974358975,334.10512820512827 993,330 C 1062.3641025641025,325.89487179487173 1126.3897435897436,330.1128205128205 1200,339 C 1273.6102564102564,347.8871794871795 1356.8051282051283,361.44358974358977 1440,375 C 1440,375 1440,500 1440,500 Z'); %7D 25%25%7B d: path('M 0,500 C 0,500 0,375 0,375 C 74.17948717948715,368.91282051282053 148.3589743589743,362.825641025641 227,376 C 305.6410256410257,389.174358974359 388.7435897435897,421.6102564102564 469,412 C 549.2564102564103,402.3897435897436 626.6666666666666,350.73333333333335 718,334 C 809.3333333333334,317.26666666666665 914.5897435897434,335.4564102564102 999,343 C 1083.4102564102566,350.5435897435898 1146.9743589743591,347.44102564102565 1217,351 C 1287.0256410256409,354.55897435897435 1363.5128205128203,364.7794871794872 1440,375 C 1440,375 1440,500 1440,500 Z'); %7D 50%25%7B d: path('M 0,500 C 0,500 0,375 0,375 C 89.56923076923076,369.5153846153846 179.1384615384615,364.03076923076924 266,359 C 352.8615384615385,353.96923076923076 437.0153846153846,349.3923076923077 501,350 C 564.9846153846154,350.6076923076923 608.8000000000001,356.4 678,367 C 747.1999999999999,377.6 841.7846153846156,393.00769230769237 941,395 C 1040.2153846153844,396.99230769230763 1144.0615384615382,385.5692307692307 1228,380 C 1311.9384615384618,374.4307692307693 1375.9692307692308,374.71538461538466 1440,375 C 1440,375 1440,500 1440,500 Z'); %7D 75%25%7B d: path('M 0,500 C 0,500 0,375 0,375 C 84.54102564102564,392.6051282051282 169.08205128205128,410.2102564102564 244,404 C 318.9179487179487,397.7897435897436 384.2128205128205,367.76410256410253 460,355 C 535.7871794871795,342.23589743589747 622.0666666666668,346.73333333333335 721,358 C 819.9333333333332,369.26666666666665 931.5205128205125,387.3025641025641 999,391 C 1066.4794871794875,394.6974358974359 1089.8512820512822,384.0564102564103 1156,379 C 1222.1487179487178,373.9435897435897 1331.0743589743588,374.4717948717948 1440,375 C 1440,375 1440,500 1440,500 Z'); %7D 100%25%7B d: path('M 0,500 C 0,500 0,375 0,375 C 74.27179487179487,345.7102564102564 148.54358974358973,316.4205128205128 230,331 C 311.45641025641027,345.5794871794872 400.09743589743596,404.0282051282051 492,416 C 583.902564102564,427.9717948717949 679.0666666666666,393.46666666666664 764,370 C 848.9333333333334,346.53333333333336 923.6358974358975,334.10512820512827 993,330 C 1062.3641025641025,325.89487179487173 1126.3897435897436,330.1128205128205 1200,339 C 1273.6102564102564,347.8871794871795 1356.8051282051283,361.44358974358977 1440,375 C 1440,375 1440,500 1440,500 Z'); %7D %7D%3C/style%3E%3Cdefs%3E%3ClinearGradient id='gradient' x1='0%25' y1='50%25' x2='100%25' y2='50%25'%3E%3Cstop offset='5%25' stop-color='%23eb144c'%3E%3C/stop%3E%3Cstop offset='95%25' stop-color='%238ED1FC'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath d='M 0,500 C 0,500 0,375 0,375 C 74.27179487179487,345.7102564102564 148.54358974358973,316.4205128205128 230,331 C 311.45641025641027,345.5794871794872 400.09743589743596,404.0282051282051 492,416 C 583.902564102564,427.9717948717949 679.0666666666666,393.46666666666664 764,370 C 848.9333333333334,346.53333333333336 923.6358974358975,334.10512820512827 993,330 C 1062.3641025641025,325.89487179487173 1126.3897435897436,330.1128205128205 1200,339 C 1273.6102564102564,347.8871794871795 1356.8051282051283,361.44358974358977 1440,375 C 1440,375 1440,500 1440,500 Z' stroke='none' stroke-width='0' fill='url(%23gradient)' fill-opacity='1' class='transition-all duration-300 ease-in-out delay-150 path-2'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 19px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

.forgot-pass {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  display: flex;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin-left: 22%;
  margin-top: 7%;
  margin-bottom: 100px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
