.nav {
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCentre {
  flex: 6;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.topIcon {
  font-size: 25px;
  margin-right: 10px;
  color: rgb(43, 39, 39);
  cursor: pointer;
}

.topIcon:hover {
  color: rgb(0, 0, 0);
}

.searchIcon {
  font-size: 18px;
  color: rgb(43, 39, 39);
  cursor: pointer;
}
.searchIcon:hover {
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
  color: rgb(43, 39, 39);
  font-size: 18px; /* Use the default color of the parent element */
}

/* Optionally apply hover effect */
a:hover {
  text-decoration: underline; /* Add underline on hover if desired */
  color: rgb(0, 0, 0); /* Change color on hover if desired */
}
.navbarHead {
  color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown button */
.dropbtn {
  cursor: pointer;
  text-decoration: none;
  color: rgb(43, 39, 39);
  font-size: 18px;
}

.dropbtn:hover {
  text-decoration: underline;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
  text-decoration: underline;
}

/* Display dropdown options vertically */
.dropdown-content a {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  color: black;
}

/* Style the dropdown options on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.donate {
  background-color: red;
  width: 135px;
  padding: 10px;
  height: 40px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.donate:hover {
  background-color: transparent;
  border-color: red;
  color: red;
}
